@model Product_Inventory_System.Models.Category

@{
    ViewBag.Title = "Delete";
}

<style>
    .g {
        padding: 15px;
    }

    body {
        background-color: #B0E0E6;
        font-family: 'Book Antiqua';
        font-size: 1.5rem;
    }
</style>

<div class="g">
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
    </div>
